# Standard VS.NET and ReSharper Foo
obj/
[Bb]in/
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.[Cc]ache
*Thumbs.db

# Other useful stuff
*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors

# Office Temp Files
~$* 

# If you have a deploy folder
Release
Release/*
[Ww]orking*/
Build/Temp/
TestResults/
AppPackages/
*.nuget.props
*.nuget.targets


SVN
.svn
.vs/
src/Zmanim/Zmanim.xml
