<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zmanim.Examples.QuartzScheduling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Zmanim.Examples.QuartzScheduling.Properties.Settings>
      <setting name="TWITTER_USERNAME" serializeAs="String">
        <value>USERNAME</value>
      </setting>
      <setting name="TWITTER_PASSWORD" serializeAs="String">
        <value>PASSWORD</value>
      </setting>
    </Zmanim.Examples.QuartzScheduling.Properties.Settings>
  </userSettings>
</configuration>